.board-list {

    .group-preview {

        .task-editor-background {
            background: #0009;
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;
        }

        .task-composer {

            padding: 6px 8px 2px;
            background-color: white;
            border-radius: 3px;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 0px 0px;
            cursor: pointer;
            display: block;
            margin-bottom: 8px;
            max-width: 300px;
            


            textarea {
                overflow: hidden;
                overflow-wrap: break-word;
                resize: none;
                height: 54px;
                border: none;
                font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
                background: none;
                border: none;
                box-shadow: none;
                height: auto;
                margin-bottom: 4px;
                max-height: 162px;
                min-height: 54px;
                overflow-y: auto;
                padding: 0;
                width: 100%;
                outline: none;
            }

        }

        .add-task {
            display: flex;
            border-radius: 3px;
            color: var(--ds-text-subtle, #5e6c84);
            margin: 2px 0 8px 0px;
            padding: 4px 8px;
            cursor: pointer;
            // position: relative;
            // text-decoration: none;
            // -webkit-user-select: none;
            // user-select: none;

            &:hover {
                background-color: var(--ds-background-neutral-hovered, #091e4214);
                color: var(--ds-text, #172b4d);
            }


        }

        .remove-task-btn{
            display: flex;
            align-items: center;
            gap: 5px;
            background: #0009;
            border-radius: 3px;
            color: #c7d1db;
            padding: 6px 12px 6px 10px;
            border: none;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            font-size: 14px;
            position: absolute;
            top: 10px;
            left: 270px;
            width: max-content;
            cursor: pointer;
            transition: transform 85ms ease-in;


            &:hover{
                transform: translateX(5px);
            }
            
        }
    }
}