.app-header {
    background-color: $clr4;
    padding: 6px 4px;


    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        padding-left: 100px;
        color: $clr1;

        .score {
            background-color: $clr2;
            color: $clr6;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .user-info .btn-link {
        color: white;
    }


    nav {
        font-size: .8em;
        // background-color: $clr5;
        // padding: 5px;
        color: white;
        display: flex;
        align-items: center;

        .logo{  
            height: 1rem;
            width: fit-content;
            padding: 0 6px;
            &:hover{
                background-color: rgba(0, 0, 0, 0.2);
                color: white;
                border-radius: 0.2rem;
            }
        }

    }
    .nav-container{
        padding: 6px 10px 6px 12px;
        display: flex;
        align-items: center;

        &:hover{
            background-color: rgba(0, 0, 0, 0.2);
            color: white;
            border-radius: 0.2rem;
        }

    }
    nav a:first-child {
        // margin-right: 30px;
        color: white;
        margin-right: 4px;
    }

    nav a:not(:first-child) {
        // border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
        color: white;
        
    }

    nav .active {
        color: white;
    }

}