@media (min-width: 250px) {
.workspaces{
    padding: 40px 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 35px;

    .board-type-header{
        font-weight: 700;
        line-height: 24px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 10px;

        .board-title-icon{
            font-size: 1.3rem;
        }
    }
    .board-list{
        display: grid;
         grid-template-columns: repeat(auto-fit, 165px);
         gap: 10px;
        
    }
}
}
@media (min-width: 600px) {
.workspaces{
    padding: 40px 0 0 0;
    max-width: 1000px;



    .board-list{
         grid-template-columns: repeat(auto-fit, 200px);
        
    }
}
}